# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data
data/
!data/.gitkeep

# Outputs
outputs/**/history/
tests/reports/history/
outputs/models/*.pkl
outputs/models/*.joblib

# Experiments/Notebooks
.ipynb_checkpoints
experiments/**/artifacts/
experiments/**/figures/

# IDEs
.vscode/
.idea/
